<h1>Guardar Lembrete</h1>

<form action="/guardalembrete" method="post">
    <label for="usuario">Usuário</label>
    <input type="text" id="usuario" name="usuario" />
    <label for="lembrete">Lembrete</label>
    <input type="text" id="lembrete" name="lembrete" />
    <button type="submit">Salvar</button>
</form>